<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mp3Normalization.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <mp3Normalization.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>100, 200</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>1000, 700</value>
            </setting>
            <setting name="TargetGain" serializeAs="String">
                <value>89.0</value>
            </setting>
            <setting name="FileConversion" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="UseTempFile" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="DisableMp3gain" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="TempDirectory" serializeAs="String">
                <value>null</value>
            </setting>
        </mp3Normalization.Properties.Settings>
    </userSettings>
</configuration>